.moduleInfo() {
	.module_info {
		padding: 0 15px;
		.main {
			height: 100%;
		}
		aside {
			flex-basis: 220px;
			flex-grow: 0;
			flex-shrink: 0;
			padding-right: 20px;
			border-right: 2px solid var(--lightBrownTransparent);
			margin-right: 20px;

			.sub-headline {
				font-weight: bold;
				margin-bottom: 0;
				font-size: 120%;
				padding-bottom: 4px;
				border-bottom: 1px solid var(--color-border-light-primary);
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
		nav {
			display: block;

			.item {
				display: block;
				padding: 6px 0;
				border-bottom: 1px solid var(--color-border-light-primary);
				text-align: left;
				font-size: 90%;
				&.active {
					font-weight: bold;
					border-color: var(--color-underline-active);
					border-width: 1px;
				}
			}
		}
		section {
			padding: 5px 0;
			padding-right: 10px;
			line-height: 1.3;
			h2 {
				margin-bottom: 15px;
			}
			h3 {
				border: none;
				margin-top: 15px;
			}
			h4 {
				font-weight: bold;
				margin-top: 20px;
			}
			ul li {
				margin-bottom: 5px;
			}
			hr {
				margin: 10px 0;
			}
		}
	}
}