<section class="tab info" data-tab="info">
  <h2>{{module.title}}</h2>
  {{{module.description}}}
  <h3>Feature-Wünsche oder Bug gefunden?</h3>
  <p>Habt ihr Ideen oder Wünsche für neue Features oder einen Fehler gefunden, so könnt ihr dies gerne als Ticket in meinem GitLab-Projekt anlegen:</p>
  <p><a href="https://gitlab.com/yendors-vtt/{{module.id}}/-/issues" target="_blank">GitLab</a></p>
  <h3>Unterstützung</h3>
  <p>Euch gefällt dieses oder ein anderes meiner Module und ihr möchtet meine Arbeit unterstützen? So könnt ihr das gerne über Patreon tun. Vielen Dank!</p>
  <p><a href="https://www.patreon.com/YendorsVTT" target="_blank">Yendor's Patreon</a></p>
  <h3>Yendor's Module</h3>
  <p>Neben diesem Modul gibt es von mir noch folgende Module:</p>
  <ul class="dsalist">
    <li><a href="https://foundryvtt.com/packages/yendors-scene-actors" target="_blank">Yendor's Scene Actors</a>: Zeige deine NSCs, mit denen die Spieler interagieren, direkt auf dem Bildschirm.</li>
    <li><a href="https://foundryvtt.com/packages/yendors-ui" target="_blank">Yendor's UI</a>: Du bekommst ein alternatives Erscheinungsbild ganz DSA-like oder eine für Smartphones reduzierte und optimierte Ansicht.</li>
  </ul>
</section>