<p><strong>Das Modul kommt mit folgenden Funktionen:</strong></p>
<ul class="dsalist">
	<li>Akteur-Selektor zum Hinzufügen oder Entfernen von Akteuren</li>
	<li>Akteure werden auf der Spielfläche angezeigt</li>
	<li>Akteure können in den Fokus gesetzt werden</li>
	<li>Charakterbogen eines Akteurs kann im Selektor geöffnet werden</li>
</ul>

**Das Modul kommt mit folgenden Funktionen:**
- Akteur-Selektor zum Hinzufügen oder Entfernen von Akteuren
- Akteure werden auf der Spielfläche angezeigt