<div class="active_scene_actor encounter scene_actor_listener" data-id="{{actor.id}}">
    <div class="active_scene_actor_avatar encounter_listener" data-encounter="{{encounter.id}}" data-action="target"
         style="background-image: url('{{encounter.actor.img}}');">
        {{#if canDefend}}
        <div class="avatar_overlay defend_encounter" data-encounter="{{encounter.id}}" data-mode="attack">
            <i class="fas fa-shield-alt"></i>
            <div class="attack_txt">Verteidigen</div>
        </div>
        {{/if}}
        {{#if userHasPermission}}
        <div class="weapon_layer">
            {{#each encounter.wornWeapons as |weapon|}}
            <div class="combatant_weapon" data-tooltip="{{weapon.name}}">
                <img src="{{weapon.img}}">
            </div>
            {{/each}}
        </div>
        {{#if encounter.isCurrentTarget}}
        <div class="avatar_overlay current_target">
            <i class="fas fa-bullseye"></i>
        </div>
        {{/if}}
        {{/if}}
    </div>
</div>